<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="model.room_name" />
</mat-form-field>
<mat-form-field>
  <mat-label>Nummer</mat-label>
  <input matInput [(ngModel)]="model.room_number" />
</mat-form-field>
<button mat-raised-button color="primary" (click)="save()">Speichern</button>

<mat-tab-group>
    <mat-tab label="Termin-Arten">
        <app-room-appointment-type-tab [parent]="model" [parentTabs]="tabs"></app-room-appointment-type-tab> 
    </mat-tab>
</mat-tab-group>