<mat-stepper linear="true" #stepper (selectionChange)="onStepChanged($event)">
  <mat-step [stepControl]="appointmentTypeFormGroup">
    <form [formGroup]="appointmentTypeFormGroup">
        <ng-template matStepLabel>Wähle deine Terminart</ng-template>
        <mat-form-field>
            <mat-label>Doctor</mat-label>
            <mat-select name="appointmentType" [formControl]="appointmentTypeFormControl">
                <mat-option *ngFor="let appointmentType of appointmentTypeModels" [value]="appointmentType">
                    {{appointmentType.appointment_type_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="range" label="Wähle einen Zeitraum" >
    <form [formGroup]="range">
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start Datum">
                <input matEndDate formControlName="end" placeholder="End Datum">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div>
            <button matButton matStepperPrevious>Back</button>
            <button matButton matStepperNext>Next</button>
        </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Wähle einen Verfügbaren Termin</ng-template>
    <ng-container *ngIf="calendarParameters">
        <app-calendar [days]="calendarParameters.days"
            [calendarEvents]="calendarParameters.calendarEvents"
            [onDoubleClick]="calendarParameters.onDoubleClick">
        </app-calendar>
    </ng-container>
  </mat-step>
  <mat-step>
    <ng-container *ngIf="possibleAppointment">
        <ng-template matStepLabel>Wähle deinen Doktor und Raum</ng-template>
        <mat-select name="doctor" [(ngModel)]="selectedDoctor">
            <mat-option *ngFor="let doctor of possibleAppointment.doctors" [value]="doctor">
                {{doctor.person.lastname}}
            </mat-option>
        </mat-select>
        <mat-select name="room" [(ngModel)]="selectedRoom">
            <mat-option *ngFor="let room of possibleAppointment.rooms" [value]="room">
                {{room.room_name}}
            </mat-option>
        </mat-select>
        <div>
            <button matButton matStepperNext>Buchen</button>
        </div>
    </ng-container>
  </mat-step>
  <mat-step>
        <ng-template matStepLabel>Ihr Termin wurde gebucht</ng-template>
  </mat-step>
</mat-stepper>
