<app-searcher searchKey="appointmentType" objectValue="appointment_type_name"
    (objectId)="setAppointmentTypeId($event)"></app-searcher>

<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-raised-button (click)="getAvailableRessources()">
    Verfügbare Termine anzeigen
</button>

<mat-form-field>
    <mat-label>Verfügbare Doktoren</mat-label>
    <mat-select>
        <mat-option *ngFor="let doctor of availableRessources.doctors"
            [value]="doctor.doctor_id">{{doctor.person.firstname}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Verfügbare Räume</mat-label>
    <mat-select>
        <mat-option *ngFor="let room of availableRessources.rooms"
            [value]="room.room_id">{{room.room_name}}</mat-option>
    </mat-select>
</mat-form-field>